:root{
    --yellow:rgb(148, 234, 20);
    --white:#ffff;
}
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}
*::selection{
    background: var(--yellow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}

/* ---------------------------------------------------------------- */
body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
.btn{
    padding: 0.7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 5rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--yellow);
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: white;
}
.heading span{
    color: var(--yellow);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--yellow);
}
header .user .name{
    font-size: 3.5rem;
    color: var(--white);
}
header .user .post{
    font-size: 2.5rem;
    color: var(--white);
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    border-color: white;
}
header .navbar ul li a:hover{
    background: var(--yellow);
}
/* ---------------------------------------------------------- */
#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    background-image: url(p1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.home h3{
    font-size: 2.5rem;
    color: var(--white);
}
.home h1{
    font-size: 5rem;
    color: var(--white);
}
.home h1 span{
    font-size: 5rem;
    color: var(--white);
}
.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}
.about{
    background-image: url(p2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.education{
    background-image: url(p2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.about .row .info h3{
    font-size: 2rem;
    color: rgb(244, 35, 35);
    padding: 1rem 0;
    font-style: normal;
    font-weight: bolder;
}
.about .row .info h3 span{
    color: black;
    font-size: 2rem;
    padding: 0 0.5rem;
    font-style: normal;
    font-weight: bolder;
}
.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: white;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left:0.2rem solid #fff;
    position: relative;
}
.education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: white;
    border-radius: 5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color: white;
    padding-top: 1.5rem;
}
.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding:1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background: var(--yellow);
}
.portfolio{
    background-image: url(p3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.portfolio .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 2rem;
    padding-bottom: 0;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: white;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    padding-bottom: 3rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--yellow);
   
}
.contact .row .content .info{
    align-items: center;
    justify-content: center;
}
.contact .content .info{
    border: .2rem solid #FFFF00;
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}
/* footer start */
.below{
    color: #111;
    text-align: center;
}
/* services section styling */
.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 3rem;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .tech{
    font-size: 2rem;
    font-weight: 400;
    color: royalblue;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .para{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .codelink{
    font-size: 2rem;
    font-weight: 400;
    color: rgb(45, 224, 9);
    margin: 10px 0 7px 0;
}
/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Times New Roman', Times, serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
footer{
    background: rgb(236, 227, 227);
    padding: 15px 23px;
    color: black;
    text-align: center;
}
footer span {
    color: crimson;
    text-decoration: none;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}
/* footer span:hover{
    text-decoration: underline;
} */
.services{
    background-image: url(p3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/* --------------------------------------------------------------------- */
            /* media query */
/* --------------------------------------------------------------------- */
@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

/* ------------------------------------------------------------------------------ */
@media (max-width:991px) {
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding:0;
    }
    .services .max-width .serv-content .card .box{
        width: 100%;
    }
}
/* -------------------------------------------------------------------------------- */
@media (max-width:768px) {
    html{
        font: 50%;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
/* --------------------------------------------------------------------------------- */
@media (max-width:400px) {
    header{
        width: 100vw;
    }
    .heading{
        margin:0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width: 100%;
    }
    .services .serv-content .card{
        width: 100%;
    }
}